@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  --primary: #5356FF;
  --secondary: #378CE7;
  --tertiary: #DFF5FF;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--tertiary);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container{
  background-color: #fff;
  width: 90%;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 100px;
}

.gdsc-logo{
  display: flex;
  align-items: center;
}

nav .logo{
  width: 100px;
  height: 100px;
}

.gdsc-title{
  padding-left: 15px;
}

.gdsc-title div:first-child{
  font-size: 1.3rem;
  font-weight: 700;
}

.gdsc-title div:last-child{
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 2px;
}

nav .questions{
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
}

.question_tab{
  background-color: #67C6E3;
  color: #fff;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.question_tab.active{
  background-color: var(--secondary);
  color: #fff;
}

.code-container{
  padding: 20px 0;

}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 0.8rem;
}

.question, .test-name{
  font-weight: bold;
}

.testcase{
  margin-top: 10px;
}

.ip-op{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.testcase-input, .testcase-output{
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.submit-btn{
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}