{% extends 'base.html' %}
{% import 'admin_components.html' as components %}

{% block title %}Debugging | Cognoconnect{% endblock %}

{%block custom_css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
{%endblock%}

{% block content %}
<nav>
    <div class="gdsc-logo">
        <img class="logo" src="{{ url_for('static', filename='logo/icon.png')}}" alt="GDSC-Logo" />
        <div class="gdsc-title">
          <div>Cognoconnect</div>
          <div>AURCT</div>
        </div>
      </div>
    
    <div class="user_details">
      
        <div class="user">
        <div class="name" style="padding-bottom: 0;"><strong>Admin</strong></div>
        <div class="user_name" style="font-size: 0.9rem;">AURCT</div>
      </div>
        <div class="user-profile">
        <img class="profile" src="{{ url_for('static', filename='logo/icon.png')}}" alt="User-Profile" />
        </div>
    </div>
    
</nav>
<div class="question_tab_container"><div class="questions">
    {{ components.question_tab('q1', 'Leader Board', active=true) }}
    {{ components.question_tab('q2', 'Q1 Submissions') }}
    {{ components.question_tab('q3', 'Q2 Submissions') }}
    {{ components.question_tab('q4', 'Q3 Submissions') }}
    {{ components.question_tab('q5', 'Q4 Submissions') }}
    {{ components.question_tab('q6', 'Q5 Submissions') }}
      </div></div>

      {{ components.leader_board('q1', leader_board_data, active=true) }}

      {% for submission in submissions %}
      {% set q_id = 'q' ~ (loop.index+1) %}
      {{ components.question_container(q_id, submission) }}
      {% endfor %}


      


{% endblock %}

{% block custom_js %}
<script src="{{ url_for('static', filename='libs/socket/socket.js')}}"></script>
<script src="{{ url_for('static', filename='js/admin.js')}}"></script>
{% endblock %}