<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}Debugging | GDSC AURCT{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='libs/sweetalert/sweetalert2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='libs/codemirror/lib/codemirror.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon-32x32.png') }}" type="image/x-icon" />
  {% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <footer>Designed and Developed by Nishanth R, Technical Lead @ GDSC AURCT.</footer>
  <script src="{{ url_for('static', filename='libs/codemirror/lib/codemirror.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/sweetalert/sweetalert2.all.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/easytimer/timer.js') }}"></script>
  {% block custom_js %}{% endblock %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
