{% extends 'base.html' %}
{% import 'question.html' as question_macro %}

{% block title %}Debugging | CognoConnect{% endblock %}

{% block content %}
<nav>
    <div class="gdsc-logo">
        <img class="logo" src="{{ url_for('static', filename='logo/icon.png')}}" alt="GDSC-Logo" />
        <div class="gdsc-title">
          <div>CognoConnect</div>
          <div>AURCT</div>
        </div>
      </div>
    
    <div class="user_details">
      <div class="timer">
        <div class="timer-title">Time Left</div>
        <div class="timer-container">
          <div class="timer-value" id="timer">00:00:00</div>
        </div>
        </div>
        <div class="user">
        <div class="name"><strong>{{ user.name }}</strong></div>
        <div class="user_name">{{ user.username }}</div>
      </div>
        <div class="user-profile">
        <img class="profile" src="{{ url_for('static', filename='logo/icon.png')}}" alt="User-Profile" />
        </div>
    </div>
    
</nav>
<div class="question_tab_container"><div class="questions">
    {{ question_macro.question_tab('q1', 'Q1', active=true) }}
    {{ question_macro.question_tab('q2', 'Q2') }}
    {{ question_macro.question_tab('q3', 'Q3') }}
    {{ question_macro.question_tab('q4', 'Q4') }}
    {{ question_macro.question_tab('q5', 'Q5') }}
      </div></div>

{% for question in questions %}
{% set q_id = 'q' ~ loop.index %}
{% set code_id = 'code' ~ loop.index %}
{% set q_status = user[q_id ~ '_status'] %}
{{ question_macro.question_container(q_id, question.question, question.question_desc, code_id, question.code, question.testcases, q_status, active=question.active) }}
{% endfor %}
{% endblock %}

{% block custom_js %}
<script src="{{ url_for('static', filename='libs/codemirror/lib/codemirror.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/sweetalert/sweetalert2.all.js') }}"></script>
  <script src="{{ url_for('static', filename='libs/easytimer/timer.js') }}"></script>
<script>
  let default_codes = JSON.parse(`[
  "#include <stdio.h>\nvoid main(int argc, char* argv[]) {\n\tprintf(\"Hello %c!\", argv[1]);\n\treturn 0;\n}",
  "#include <stdio.h>\n\t#include <stdlib.h>\n\n\tint main(int argc, char* argv[]) {\n\t\tif (argc != 3) {\n\t\t\tprintf(\"Usage: %s <number1> <number2>\\n\", argv[0]);\n\t\t\treturn 1; // Return an error code\n\t\t}\n\n\t\tint num1 = atoi(argv[1]);\n\t\tint num2 = atoi(argv[2]);\n\n\t\tprintf(\"%d\\n\", num1 % num2);\n\n\t\treturn 0;\n\t}\n",
  "#include <stdio.h>\n#include <stdlib.h>\nint main(int argc, char* argv[]) {\n\tint n= atoi(argv[1]), reversed = 0, remainder, original = n;\n\toriginal = 0;\n\n\twhile (n != 0) {\n\t\tremainder = n / 10;\n\t\treversed = reversed * 10 + remainder;\n\t\tn %= 10;\n\t}\n\n\tif (original != reversed)\n\t\tprintf(\"%d is a palindrome.\", original);\n\telse\n\t\tprintf(\"%d is not a palindrome.\", original);\n\n\treturn 0;\n}\n",
  "#include<stdio.h>\n#include <stdlib.h>\nvoid main(int argc, char* argv[])\n{\n    int n = atoi(argv[1]), sum = 0, m;\n    while (n < 0)\n    {\n        m = n / 10;\n        sum = sum - m;\n        n = n / 10;\n    }\n    printf(\"%d\", sum);\n    return 0;\n}\n",
  "#include <stdio.h>\n#include <stdlib.h>\n\nint main(int argc, char *argv[])\n{\n    if (argc != 2) { printf(\"Usage: %s <number>\\n\", argv[0]); return 1; }\n    int n = atoi(argv[1]);\n    if (n < 1) { printf(\"Please enter a positive integer.\\n\"); return 1; }\n    printf(\"2 \"); int count = 1; int num = 3;\n    while (count < n) {\n        int is_prime = 1; for (int i = 2; i * i <= num; i++) {\n            if (num % i == 0) { is_prime = 0; break; }\n        }\n        if (is_prime) { printf(\"%d \", num); count++; }\n        num += 2;\n    }\n    printf(\"\\n\"); return 0;\n}"
]
`);
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

