{% macro question_tab(id, text, active=false) %}
  <div id="{{ id }}_btn" class="question_tab{{ ' active' if active else '' }} ques_tab">{{ text }}&nbsp;<span class="qn_timer" id="{{id}}_timer">00:00</span></div>
{% endmacro %}

{% macro question_container(id, question, question_desc, code_id, code, testcases, status, active=false) %}
<div class="question-container {{ ' active' if active else '' }}" id="{{ id }}">
  <div class="ques">
    <div class="question">{{ question }}</div>
    <div class="question-desc">
      <p>{{ question_desc }}</p>
    </div>
    <div class="code-container">
      <textarea id="{{ code_id }}">{{ code }}</textarea>
    </div>
    <div class="restore-editor">
        <button class="button-29 btn" id="{{id}}_reset" role="button">
          <i class="fas fa-redo-alt"></i>
        </button>
      </div>
      <div>
        <div class="btn solved" id="{{id}}_solved" role="button" style="{{'display: inline-flex;' if status == 1 else 'display: none;'}}">
          Solved&nbsp;
          <i class="fa-regular fa-circle-check"></i>
        </div>
      </div>
    <div class="testcases">
      <span class="test-name">Testcases</span>
      {% for testcase in testcases %}
      <div class="testcase">
        <div class="testcase-num">{{ testcase.num }}</div>
        <div class="ip-op">
          <div class="testcase-input">Input: {{ testcase.input }}</div>
          <div class="testcase-output">Output: {{ testcase.output }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="submit-btn">
      <button class="button-29" id="{{id}}_submit" role="button">Submit <span id="spinner" style="display: none;">&nbsp;<i class="fa-solid fa-circle-notch fa-spin"></i></span>
      </button>
    </div>
  </div>
</div>
{% endmacro %}
